<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<header>
    <a href="/logout">Выйти</a>
    <hr/>
</header>
<style>
    h3 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 150%;
    }

    p {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11pt;
    }
</style>
<h3>Изменения данных о пользователе</h3>
<hr/>
<style>
    label {
        font-family: 'Times New Roman', Times, serif;
        font-size: 150%;
    }

    p {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11pt;
    }
</style>
<form th:method="PATCH" th:action="@{/admin/users/{id} (id=${user.getId()})}" th:object="${user}">
    <label for="name">Имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="nickname">Никнейм: </label>
    <input type="text" th:field="*{nickName}" id="nickName"/>
    <br>
    <label for="ladder">Место в рейтинге: </label>
    <input type="text" th:field="*{ladder}" id="ladder"/>
    <br>
    <label for="email">Почта: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <label for="username">Логин: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br>
    <label for="password">Пароль: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br>
    <select th:field="*{roles}" multiple>
        <option th:value="'ROLE_USER'" th:text="USER"></option>
        <option th:value="'ROLE_ADMIN'" th:text="ADMIN"></option>
    </select>
    <hr/>
    <input type="submit" value="Сохранить"/>
</form>
</body>
</html>