<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<style>
    a, h3, label {
        font-size: 150%;
    }
</style>
<header>
    <a href="/logout">Выйти</a>
    <hr/>
</header>
<h3>Создание нового пользователя</h3>
<hr/>
<form th:method="POST" th:action="@{/admin/users}" th:object="${user}">
    <label for="name">Имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="nickname">Никнейм: </label>
    <input type="text" th:field="*{nickName}" id="nickname"/>
    <br>
    <label for="ladder">Место в рейтинге: </label>
    <input type="number" th:field="*{ladder}" id="ladder"/>
    <br>
    <label for="email">Почта: </label>
    <input type="email" th:field="*{email}" id="email"/>
    <br>
    <label for="username">Логин: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br>
    <label for="password">Пароль: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <br>
    <select th:field="*{roles}" multiple>
        <option th:value="'ROLE_USER'" th:text="USER"></option>
        <option th:value="'ROLE_ADMIN'" th:text="ADMIN"></option>
    </select>
    <hr/>
    <input type="submit" value="Добавить пользователя"/>
</form>
</body>
</html>